{% extends "base.html" %}

{% block title %}Tweet Sentiment Analyzer{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='dist/css/sentiment.css') }}">
{% endblock %}

{% block content %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
    <div class="row">
      <div class="one-half column" style="margin-top: 7%">
        <h4>Tweet sentiment analyzer</h4>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="one-half column">
        <textarea id="target" class="u-full-width" placeholder="Start writing..."></textarea>
      </div>

      <div class="one-half column">
        <button>Everything is beautiful</button>
        <button>We have to talk</button>
        <button>I'm crying</button>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div id='visualization' class="one-half column">
        <svg width="1000" height="400"></svg>
      </div>
    </div>
  </div>


{% endblock %}

{% block extra_js %}
<script src="{{ url_for('static', filename='dist/js/sentiment.bundle.js') }}"></script>
{% endblock %}
