{% extends "base.html" %}
{% block title %}About{% endblock %}


{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 15%">
            <div class="one-half column">
                <h2>About</h2>
            </div>
        </div>

        <div class="row">
            <div class="one-half column">
                <p>
                I'm Eric Kramer, a data scientist and medical doctor. I'm an alumnus of Northwestern, UC San Diego School of Medicine and <a href=http://dataiku.com>Dataiku</a>. 
                I'm interested in the intersection of medicine, data science, and machine learning.
                Get in touch if you want to talk more about data science or medicine.
                </p>
            </div>
        </div>
    </div>
{% endblock %}