<!DOCTYPE html>
<html lang="en">
<head>

  {% block head %}
  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='dist/css/main.css') }}">
  {% block extra_css %}{% endblock %}

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='dist/images/favicon.png') }}">
  {% endblock %}


</head>
<body>

  <div id="content">{%block content %}{% endblock %}</div>

  <!-- JavaScript
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <script src="{{ url_for('static', filename='dist/js/vendors.bundle.js') }}"></script>
  <script src="{{ url_for('static', filename='dist/js/main.bundle.js') }}"></script>
  {% block extra_js %}{% endblock %}

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
