{% extends "base.html" %}
{% block title %}Contact{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row" style="margin-top: 15%">
            <div class="one-half column" style="text-align: center">
                <a href="phone">
                    <i class="fas fa-phone fa-8x" style="color: black"></i>
                </a>
            </div>
            <div class="one-half column" style="text-align: center">
                <a href="email">
                    <i class="fas fa-envelope fa-8x" style="color: black"></i>
                </a>
            </div>
        </div>

        <div class="row" style="margin-top: 10%">
            <div class="one-half column" style="text-align: center">
                <a href="https://twitter.com/eransomk">
                    <i class="fab fa-twitter fa-8x" style="color: black"></i>
                </a>
            </div>
            <div class="one-half column" style="text-align: center">
                <a href="https://github.com/erickramer">
                    <i class="fab fa-github fa-8x" style="color: black"></i>
                </a>
            </div>
        </div>
    </div>
{% endblock %}