{% extends "base.html" %}
{% block title %}Demos{% endblock %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/demos.js') }}"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
{% endblock %}

{%block content %}
  <div id="elm"></div>

  <script>
    app = Elm.Demos.init({
        node: document.getElementById('elm')
    });

    var newWS = {"width": window.innerWidth, "height": window.innerHeight};
    app.ports.newWindowSize.send(newWS);

    window.onresize = function(event){
      var newWS = {"width": window.innerWidth, "height": window.innerHeight};
      app.ports.newWindowSize.send(newWS);
    };
  </script>

{%endblock %}