{% extends "base.html" %}
{% block title %}Ceci n'est pas un site{% endblock %}

{% block head %} 
  {{ super() }}
  <script src="{{ url_for('static', filename='js/home.js') }}"></script>
{% endblock %}

{% block content %}
  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div id="elm"></div>

  <script>
    var stored = localStorage.getItem('particles');
    app = Elm.Home.init({
        node: document.getElementById('elm')
    });

    if (stored) {
      app.ports.loadParticles.send(JSON.parse(stored));
    }
    app.ports.storeParticles.subscribe(function(ps){
      localStorage.setItem('particles', JSON.stringify(ps));
    });

    var newWS = {"width": window.innerWidth, "height": window.innerHeight}
    app.ports.newWindowSize.send(newWS)

    window.onresize = function(event){
      var newWS = {"width": window.innerWidth, "height": window.innerHeight}
      app.ports.newWindowSize.send(newWS)
    }
  </script>

{% endblock %}

{% block footer %}{% endblock %}